{% extends 'base.html.twig' %}

{% block title %}resultat{% endblock %}
{% block titre %}<h1>Résultat de la partie</h1>{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3 bulle">
	        {% for flashMessage in app.session.flashbag.get('succes') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
	        {% endfor %}
	        {% for flashMessage in app.session.flashbag.get('erreur') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
	        {% endfor %}

	        <h3 id="result">Bravos vous venez de gagner {{ nb_point }} points !</h3>
	        <p>{{ phrase }}</p>
	        {% for key,value in stats %}
		        <ul>{{ key }}
			        {% for g, ma in value %}
						<li>{{ g ~ ' ' ~ ma }} votes</li>
			        {% endfor %}
		        </ul>
		        <br>
	        {% endfor %}

            <a href="{{ path('ambiguss_game') }}" class="btn btn-primary">Rejouer</a>
        </div>
    </div>
{% endblock %}