{% extends 'base.html.twig' %}

{% block title %}resultat{% endblock %}
{% block titre %}<h1>Résultat de la partie</h1>{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 bulle">
	        {% for flashMessage in app.session.flashbag.get('succes') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
	        {% endfor %}
	        {% for flashMessage in app.session.flashbag.get('erreur') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
	        {% endfor %}

	        {% if app.user is null %}
		        <p class="text-success">
			        <b>
				        <a href="{{ path('user_connexion') }}">Connectez-vous</a>
				        pour enregistrer vos parties et avoir accès à toutes les fonctionnalités !
			        </b>
		        </p>
	        {% endif %}

	        <h3 id="result">
		        {% if app.user %}
			        {% transchoice nb_point %}
				        {0} Dommage, vous n'avez pas gagné de point cette fois. |
				        {1} Bravo, vous avez gagné 1 point. |]1,
				        Inf[ Félicitation, vous avez gagné %nb_point% points !
			        {% endtranschoice %}
		        {% else %}
			        Vous n'êtes pas connecté, vous ne gagnez donc pas de points
		        {% endif %}
	        </h3>
			<br>
	        <h4><span class="color-green">La phrase était :</span><br> {{ phrase|raw }}</h4>
	        <br>
	        <div class="text-center">
		        <ul><h4><span class="color-green">Les votes précédents étaient :</span></h4>
		        {% for ordre, ma in stats %}
			        <li class="not-list"><b>{{ ma.valeurMA }}</b> ({{ ordre }}) :
				        {% for valeurGlose, res in ma.gloses %}
					        {% if res.isSelected %}<b>{% endif %}
					            {{ valeurGlose ~ ' ' ~ res.nbVotes }}
								{% transchoice res.nbVotes %}
									{0}vote|{1}vote|]1,Inf[votes
								{% endtranschoice %}
					        {% if res.isSelected %}</b>{% endif %}
							{% if loop.last %}.{% else %},{% endif %}
				        {% endfor %}
			        </li>
			        {% if not loop.last %}
			            <hr>
			        {% endif %}
		        {% endfor %}
		        </ul>
	        </div>
	        <br>
            <a href="{{ path('ambiguss_game') }}" class="btn btn-primary">Rejouer</a>
        </div>
    </div>
{% endblock %}