{% extends 'base.html.twig' %}

{% block title %}resultat{% endblock %}
{% block titre %}<h1>Résultat de la partie</h1>{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3 bulle">
	        {% for flashMessage in app.session.flashbag.get('succes') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
	        {% endfor %}
	        {% for flashMessage in app.session.flashbag.get('erreur') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
	        {% endfor %}

	        <h3 id="result">
		        {% transchoice nb_point %}
		            {0} Malheureusement, vous n'avez pas gagné de point. |
		            {1} Bravo, vous avez gagné 1 point. |]1,
		            Inf[ Félicitation, vous avez gagné %nb_point% points !
		        {% endtranschoice %}
	        </h3>
	        {% if app.user is null %}
		        <a href="{{ path('user_connexion') }}">Connectez-vous</a> pour enregistrer vos parties !
		        <br>
	        {% endif %}
	        <br>
	        <p>{{ phrase|raw }}</p>
	        <div class="text-center">
		        <ul>
		        {% for key, value in stats %}
			        <li>{{ key }} :
				        {% for g, ma in value %}
							{{ g ~ ' ' ~ ma }}
					        {% transchoice ma %}
					            {0}vote|{1}vote|]1,Inf[votes
					        {% endtranschoice %}
					        {% if loop.last %}.{% else %},{% endif %}
				        {% endfor %}
			        </li>
		        {% endfor %}
		        </ul>
	        </div>

            <a href="{{ path('ambiguss_game') }}" class="btn btn-primary">Rejouer</a>
        </div>
    </div>
{% endblock %}