{% extends 'base.html.twig' %}

{% block title %}resultat{% endblock %}
{% block titre %}Résultat de la partie{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 bulle">
	        {% for flashMessage in app.session.flashbag.get('succes') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
	        {% endfor %}
	        {% for flashMessage in app.session.flashbag.get('erreur') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
	        {% endfor %}

	        {% if app.user is null %}
		        <p class="text-success">
			        <b>
				        <a href="{{ path('user_connexion') }}" class="size18">Connectez-vous</a>
				        pour enregistrer vos parties et avoir accès à toutes les fonctionnalités !
			        </b>
		        </p>
	        {% endif %}
	        <span class="size24">
		        {% if app.user %}
			        {% if isAuteur %}
				        Vous êtes l'auteur de cette phrase, vous ne gagnez donc pas de points.<br>
			        {% elseif alreadyPlayed %}
				        Vous avez déjà joué cette phrase, vous ne gagnez donc pas de points.<br>
			        {% else %}
				        {% transchoice nb_point %}
					        {0} Dommage, vous n'avez pas gagné de point cette fois. |
					        {1} Bravo, vous avez gagné 1 point. |]1,
				        Inf[ Félicitation, vous avez gagné <span id="fun-level">0</span> points !
				        {% endtranschoice %}
						<div >
							<img src="{{ asset('avogif.gif') }} " alt="gif">
						</div>
			        {% endif %}
		        {% else %}
			        Vous n'êtes pas connecté, vous ne gagnez donc pas de points.<br>
		        {% endif %}
	        </span>
	        <br>
	        <span class="color-green size18">La phrase était :</span><br>
	        <span class="size24">{{ phrase|raw }}</span><br>
	        <span class="size16">par <a href="{{ path('user_profil', {id: auteur.id}) }}">{{ auteur.pseudo }}</a></span><br>
	        <br>
	        <ul><span class="color-green size18">Les votes précédents étaient :</span>
		        {% for ordre, ma in stats %}
			        <li class="not-list"><b class="color-red size16" title="Ce mot est ambigu (id : {{ ordre }})">{{ ma.valeurMA }}</b>
				        :
				        {% for valeurGlose, res in ma.gloses %}
					        {% if res.isSelected %}<b>{% endif %}
					        {{ valeurGlose ~ ' ' ~ res.nbVotes }}
					        {% if res.isSelected %}</b>{% endif %}
					        {% if loop.last %}.{% else %},{% endif %}
				        {% endfor %}
			        </li>
		        {% endfor %}
	        </ul>
	        <br>

            <a href="{{ path('ambiguss_game') }}" class="btn btn-primary">Rejouer</a>
        </div>
    </div>
	<button type="button" class="pull-right infobulle" data-toggle="modal" data-target="#modal" id="helpResultatModal">
		<img src="{{ asset('assets/images/infobulle.png') }}">
	</button>
{% endblock %}

{% block js %}
	<script>
		$(document).ready(function()
		{
			// Au click sur le bouton, exécute la fonction
			$('#helpResultatModal').click(helpResultatModal);
			function helpResultatModal(event) {
				setModalSize('modal-lg');
				setModalTitle('Comment sont calculés les points ?');
				setModalBody(
					'La formule du calcul des points et des crédits est la suivante :<br>'
					+ '<span class="text-primary">On additionne pour chaque glose son pourcentage de votes.</span><br><br>'
					+ '<b>Exemple :</b><br>'
					+ 'Un <b class="color-red" title="Ce mot est ambigu">avocat</b> mange '
					+ 'des <b class="color-red" title="Ce mot est ambigu">avocats</b>.<br>'
					+ 'Imaginons que l\'on réponde "métier" pour "avocat" et que cette glose corresponde à 80% des réponses '
					+ 'et que l\'on réponde "fruit" pour "avocats" et que cette glose correponde à 95% des réponses.<br><br>'
					+ 'Le calcul est donc : 80 + 95 = 175.<br>'
					+ 'Vous gagnerez alors 175 points et 175 crédits.'
				);
			}
		});


	</script>

	<script src="{{ asset('assets/js/jquery.animateNumber.js') }}"></script>

    <script>
        var number_step = $.animateNumber.numberStepFactories.append(' ');

        $('#fun-level').animateNumber(
            {
                number: {{ nb_point }},
                style: "color: black",
                'font-size': '30px',
                easing: 'easeInQuad',
                numberStep:number_step
            },
	        1500
        );

	</script>
{% endblock %}