{% extends 'base.html.twig' %}

{% block title %}resultat{% endblock %}
{% block titre %}Résultat de la partie{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 bulle">
	        {% for flashMessage in app.session.flashbag.get('succes') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
	        {% endfor %}
	        {% for flashMessage in app.session.flashbag.get('erreur') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
	        {% endfor %}

	        {% if app.user is null %}
		        <p class="text-success">
			        <b>
				        <a href="{{ path('user_connexion') }}">Connectez-vous</a>
				        pour enregistrer vos parties et avoir accès à toutes les fonctionnalités !
			        </b>
		        </p>
	        {% endif %}

	        <h3 id="result">
		        {% if app.user %}
			        {% if alreadyPlayed %}
				        Vous avez déjà joué cette phrase, vous ne gagnez donc pas de points.
			        {% else %}
				        {% transchoice nb_point %}
					        {0} Dommage, vous n'avez pas gagné de point cette fois. |
					        {1} Bravo, vous avez gagné 1 point. |]1,
					        Inf[ Félicitation, vous avez gagné %nb_point% points !
				        {% endtranschoice %}
			        {% endif %}
		        {% else %}
			        Vous n'êtes pas connecté, vous ne gagnez donc pas de points
		        {% endif %}
	        </h3>
			<br>
	        <h4><span class="color-green">La phrase était :</span><br> {{ phrase|raw }}</h4>
	        <h5>par <a href="#">{{ auteur.pseudo }}</a></h5>
	        <br>
	        <div class="text-center">
		        <ul><h4><span class="color-green">Les votes précédents étaient :</span></h4>
		        {% for ordre, ma in stats %}
			        <li class="not-list"><b class="color-red">{{ ma.valeurMA }}</b>
				        <small>({{ ordre }})</small>
				        :
				        {% for valeurGlose, res in ma.gloses %}
					        {% if res.isSelected %}<b>{% endif %}
					            {{ valeurGlose ~ ' ' ~ res.nbVotes }}
					        {% if res.isSelected %}</b>{% endif %}
							{% if loop.last %}.{% else %},{% endif %}
				        {% endfor %}
			        </li>
		        {% endfor %}
		        </ul>
	        </div>
	        <br>
            <a href="{{ path('ambiguss_game') }}" class="btn btn-primary">Rejouer</a>
        </div>
    </div>
	<button type="button" class="pull-right infobulle" data-toggle="modal" data-target="#modal" id="helpResultatModal">
		<img src="{{ asset('assets/images/infobulle.png') }}">
	</button>
{% endblock %}

{% block js %}
	<script>
		$(document).ready(function()
		{
			// Au click sur le bouton, exécute la fonction
			$('#helpResultatModal').click(helpResultatModal);
			function helpResultatModal(event) {
				setModalSize('modal-lg');
				setModalTitle('Comment sont calculés les points ?');
				setModalBody(
					'La formule du calcul des points et des crédits est la suivante :<br>'
					+ '<span class="text-primary">On additionne pour chaque glose son pourcentage de votes.</span><br><br>'
					+ '<b>Exemple :</b><br>'
					+ 'Un <b class="color-red" title="Ce mot est ambigu">avocat</b> mange '
					+ 'des <b class="color-red" title="Ce mot est ambigu">avocats</b>.<br>'
					+ 'Imaginons que l\'on réponde "métier" pour "avocat" et que cette glose corresponde à 80% des réponses '
					+ 'et que l\'on réponde "fruit" pour "avocats" et que cette glose correponde à 95% des réponses.<br><br>'
					+ 'Le calcul est donc : 80 + 95 = 175.<br>'
					+ 'Vous gagnerez alors 175 points et 175 crédits.'
				);
			}
		});
	</script>
{% endblock %}