<div class="panel panel-default">
	<div class="panel-heading">{{ categorie|default('') }}</div>
	<div class="panel-body">{{ description|default('') }}</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6 infos">
				Par <a href="{{ lien_profil|default('') }}" class="lien-profil">{{ pseudo|default('') }}</a>, le
				<span class="date-creation">{{ date|default('') }}</span>
			</div>
			<div class="col-md-6 actions text-right">
				<a href="#" data-id="{{ id|default('') }}" data-verdict="valide" class="signalement btn btn-success btn-sm">Signalement valide</a>
				<a href="#" data-id="{{ id|default('') }}" data-verdict="invalide" class="signalement btn btn-danger btn-sm">Signalement invalide</a>
			</div>
		</div>
	</div>
</div>