{% extends 'base.html.twig' %}

{% set modalIdHelpAddPhrase = 'helpAddPhraseModal' %}
{% set modalIdAddGlose = 'addGloseModal' %}

{% set modalBodyHelpAddPhrase = '
<ol>
	<li>Écrivez votre phrase complète dans le champ dédié.</li>
	<li>
		Séléctionnez le premier mot ambigu, et cliquez sur le bouton "Rendre le mot séléctionné ambigu".
		Cela a pour effet d\'entourer le mot par les balises amb avec un numéro, et d\'afficher le mot en
		rouge dans le champ de rendu.<br>
		Cela créé aussi une nouvelle ligne dans le formulaire afin que vous puissiez choisir la glose de ce mot ambigu.
	</li>
	<li>Choisissez une glose* pour ce mot ambigu, et indiqué si celle-ci est juste, fausse, ou
	que vous ne savez pas.</li>
	<li>Répétez les points 2 et 3 pour chaque mot ambigu de votre phrase.</li>
</ol>
<div class="alert alert-info">Si vous vous êtes trompé pour un mot ambigu, vous pouvez le supprimer à l\'aide du bouton
"Supprimer le mot
ambigu".</div>
<p>* Si aucune glose ne vous est proposée, ou que celles-ci ne vous satisfont pas, vous pouvez en ajouter avec le
bouton "Ajouter une glose".</p>
' %}

{% block title %}Création de phrase{% endblock %}

{% block contenu %}
	<h1>Création d'une phrase</h1>

	<div class="row">
	    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 well">

		    <div class="form-group">
		        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{
		    modalIdHelpAddPhrase }}">Comment créer une phrase ?</button>
		    </div>

		    {% for flashMessage in app.session.flashbag.get('succes') %}
			    <div class="alert alert-success">{{ flashMessage }}</div>
		    {% endfor %}
		    {% for flashMessage in app.session.flashbag.get('erreur') %}
			    <div class="alert alert-danger">{{ flashMessage }}</div>
		    {% endfor %}

		    {{ form_start(form , {'form-type' : 'horizontal', 'attr' : {'class' : 'from-horizontal'}}) }}

		    {{ form_errors(form) }}

		    <div class="form-group">
		        <div id="rendu" style="background: white; color: black; padding: 5px;" hidden></div>
		    </div>

		    {{ form_row(form.contenu) }}

		    <div class="form-group">
			    <button type="button" class="btn btn-primary" id="addAmb">Rendre le mot sélectionné ambigu</button>
		    </div>

		    <div class="form-group">
		    	<div id="phrase_add_motsAmbigusPhrase" data-prototype="
					{{ include('AmbigussBundle:Phrase:horizontal.html.twig', {'form' : form.motsAmbigusPhrase.vars.prototype }) |e ('html_attr') }}
				">
		    	</div>
		    </div>
		    {% do form.motsAmbigusPhrase.setRendered %}

		    {{ form_row(form.creer) }}

		    {{ form_rest(form) }}
		    {{ form_end(form) }}

		</div>
	</div>
	{{ include('modal.html.twig', {'modalSize': 'modal-lg', 'modalId': modalIdHelpAddPhrase, 'modalTitre': 'Comment
	créer une
	phrase
	 ?',
		'modalBody': modalBodyHelpAddPhrase}) }}
	{{ include('modal.html.twig', {'modalId': modalIdAddGlose, 'modalTitre': 'Ajouter une glose'}) }}
{% endblock %}

{% block js %}
	<script src="{{ asset('assets/vendor/rangyinputs/rangyinputs-jquery.js') }}"></script>
	<script>
		$(document).ready(function()
		{
			var startBaliseAmbigu = '<amb>';
			var endBaliseAmbigu = '</amb>';
			var endBaliseAmbiguEscape = '<\/amb>';

			// Regex pour avoir les contenus des balises <amb>
			// Exemple : L'<amb>avocat</amb> mange des <amb>avocats</amb>.
			// Donne : $1 = avocat, puis $1 = avocats
			var reg = new RegExp(startBaliseAmbigu + '(.*?)' + endBaliseAmbiguEscape, 'g');
			// Regex pour avoir les contenus des balises <amb> et leurs id
			// Exemple : L'<amb id="1">avocat</amb> mange des <amb id="2">avocats</amb>.
			// Donne : $1 = 1 et $2 = avocat, puis $1 = 2 et $2 = avocats
			var reg2 = new RegExp('<amb id="([0-9]+)">(.*?)' + endBaliseAmbiguEscape, 'g');

			// Div où Symfony a mis le formulaire (voir cours sur les formulaires imbriqués)
			var $container = $('div#phrase_add_motsAmbigusPhrase');

			// textarea où l'on écrit la phrase
			var textarea = $("textarea#{{ form.contenu.vars.id }}");

			// Pour numéroter le mot ambigu
			var index = 0;

			// A chaque modification du textarea via le clavier
			textarea.bind('input', function() {
				updatePhrase();
				updateRendu();
			});

			// Au clic sur le bouton ajout d'un mot ambigu
			$("#addAmb").click(function () {
				// S'il y a bien un mot séléctionné
				if((sel = textarea.getSelection()).text != '') {
					// On met à jour la valeur du textarea en entourant le mot séléctionné
					textarea.val(
						textarea.val().slice(0, sel.start)
						+ startBaliseAmbigu
						+ sel.text
						+ endBaliseAmbigu
						+ textarea.val().slice(sel.end)
					);
					updatePhrase();
					updateRendu();
				}
			});

			// On met à jour le textarea
			function updatePhrase(){
				var phrase = textarea.val();
				// Compte le nombre d'occurence de balise <amb>
				var replaced = phrase.search(reg) >= 0;
				// Si au moins 1
				if(replaced) {
					// On ajout dans la balise <amb> l'id du mot ambigu
					var temp = phrase.replace(reg, function ($0, $1) {
						index++;
						addReponse($container, $1);
						return '<amb id="' + index + '">' + $1 + endBaliseAmbigu;
					});
					textarea.val(temp);
				}
			}

			// On met à jour l'affichage propre de la phrase
			function updateRendu(){
				var phrase = textarea.val();
				var rendu = $("#rendu");
				var res = phrase;

				// Compte le nombre d'occurence de balise <amb id="">
				var replaced = phrase.search(reg2) >= 0;
				// Si au moins 1
				if(replaced) {
					html = '<b num="__num__" class="color-red" title="Ce mot est ambigu (id : __num__)' +
						'">__amb__</b>';
					// On remplace la balise <amb id=""> par le html en remettant l'id du mot ambigu
					res = phrase.replace(reg2, function ($0, $1, $2) {
						return html.replace(/__num__/g, $1).replace(/__amb__/g, $2);
					});
				}
				rendu.empty().append(res);

				// Si le rendu est vide, on cache la div
				if(rendu.html().length > 0)
					rendu.show();
				else
					rendu.hide();
			}

			// Ajoute le formulaire d'un mot ambigu (voir cours sur les formulaires imbriqués)
			function addReponse($container, motAmbigu) {
				// On ajoute le nom unique et l'id
				var template = $container.attr('data-prototype')
					.replace(/__name__label__/g, '')
					.replace(/__name__/g, index)
					.replace(/__id__/g, index);
				var $prototype = $(template);
				// Trouve la balise qui à la class amb
				var amb = $prototype.find('.amb');
				// Ajoute la valeur du mot ambigu en supprimant les espaces avant et après le mot, et ajoute l'id
				amb.val(motAmbigu.trim() + ' ' + amb.val());
				amb.prev().html(amb.prev().html() + ' (id : ' + index + ')');
				$prototype.attr('id', 'amb' + index);
				addAddGloseLink($prototype, motAmbigu);
				addDeleteLink($prototype);
				getGloses($prototype, motAmbigu);
				$container.append($prototype);
			}

			// Supprime le formulaire d'un mot ambigu (voir cours sur les formulaires imbriqués)
			function addDeleteLink($prototype) {
				var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer le mot ambigu</a>');
				$prototype.find('.deleteLink').append($deleteLink);

				// Au clic sur le bouton de suppression
				$deleteLink.click(function(e) {
					var phrase = textarea.val();
					// On récupère l'id qui est dans l'attribut id (id="amb1"), en supprimant le amb
					var id = $prototype.attr('id').replace(/amb/, '');
					// Regex pour trouver la bonne balise <amb id="">, et en récupérer le contenu
					var reg3 = new RegExp('<amb id="' + id + '">(.*?)' + endBaliseAmbiguEscape, 'g');
					// Modifie le textarea pour supprimé la balise <amb id=""></amb> et remettre le contenu
					textarea.val(phrase.replace(reg3, '$1'));
					updateRendu();
					$prototype.remove();
					e.preventDefault(); // évite qu'un # apparaisse dans l'URL
					return false;
				});
			}

			// Ajoute le bouton pour ajouter une glose
			function addAddGloseLink($prototype, motAmbigu) {
				var $addLink = $('<button type="button" style="margin-right:3px;" class="btn btn-primary" ' +
					'data-toggle="modal" ' +
					'data-target="#{{
				modalIdAddGlose }}">Ajouter une glose</button>');
				$prototype.find('.addGloseLink').append($addLink);
				var modalBody = $('.modal-body');
				// Au clic sur le bouton de suppression
				{% if app.user is empty %}
				modalBody.html('<div class="alert alert-danger">Il faut être connecté pour ajouter une glose</div>');
				{% endif %}
				$addLink.click(function (e) {
					$.ajax('{{ path('ambiguss_glose_add') }}', {motAmbigu: motAmbigu})
						.done(function (data) {
							// Remplit la modal par le formulaire d'ajout d'une glose
							modalBody.empty().append(data);
							modalBody.find('#glose_add_motAmbigu').val(motAmbigu);

							// Autocomplete le champ
							var input = modalBody.find('#glose_add_valeur');
							input.autocomplete({
								minLength: 1,
								appendTo: '#{{ modalIdAddGlose }}',
								source : function(request, response){
									$.getJSON('{{ path('ambiguss_glose_get_autocomplete') }}?term=' + request.term, function(data){
										input.parent().append('<div id="resnul" hidden>Aucun résultat</div>');
										if(data.length === 0){
											input.parent().find('#resnul').show();
										}else{
											input.parent().find('#resnul').hide();
										}
										response($.map(data, function(item){
											return item.valeur;
										}));
									});
								}
							});

							// Envoi le formulaire via ajax
							modalBody.find('form[name="glose_add"]').ajaxForm({
								beforeSubmit: function(arr, form, opt){
									// On affiche l'image laoder
									$(form).after('<img src="{{ asset('assets/images/loading.gif') }}" id="loading">');
								},
								// Quand la réponse Ajax sera reçu, on appelle ce callback
								'success' : function(data, status, xhr, form){
									$(form).next().remove();
									if(data.status) {
										$prototype.find('select.gloses').append('<option value="' + data.glose.id +
											'">' + data.glose.valeur + '</option>');
										$('#{{ modalIdAddGlose }}').modal('hide');
									}else{
										$(form).after('<div class="alert alert-danser">Erreur</div>')
									}
								}
							});
						});
					$('#{{ modalIdAddGlose }}').modal('show');
					e.preventDefault(); // évite qu'un # apparaisse dans l'URL
					return false;
				});
			}

			function getGloses($prototype, motAmbigu) {
				$.post('{{ path('ambiguss_glose_get_by_motambigu') }}', {motAmbigu: motAmbigu}, function (data) {
					var select = $prototype.find('select.gloses');
					select.append('<option value>Choississez une glose</option>');
					$.each(data, function (index) {
						select.append('<option value="' + data[index].id + '">' + data[index].valeur + '</option>')
					})
				}, "json");
			}

		});
	</script>
{% endblock %}