{% extends 'theme2.html.twig' %}

{% block title %}Creation de phrase{% endblock %}

{% block contenu %}
	<h1>Création d'une phrase</h1>

	<div class="row">
	    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 well">
			{{ form(formMot) }}

		    {{ form_start(formMot) }}

		    {{ form_errors(formMot) }}

		    {{ form_row(formMot.Phrase) }}

		    {{ form_widget(formMot.Valider) }}

		    {{ form_rest(formMot) }}
		    {{ form_end(formMot) }}
		</div>
	</div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(document).ready(function() {
			// On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
			var $container = $('div#ajout_phrase_form_Mot_ambi_glose');
			var $containerGlose = $('div#ajout_phrase_form_Mot_ambi_glose___name___Gloses_du_mot');
			// On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
			var index = 0;
			add_MotAmbi($container);
			var indexGlose = 0;
			// On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
			$('#ajout_phrase_form_Autre_mot').click(function(e) {
				add_MotAmbi($container);
				e.preventDefault(); // évite qu'un # apparaisse dans l'URL
				return false;
			});
			// La fonction qui ajoute un formulaire pour un mot et ses gloses
			function add_MotAmbi($container) {
				// Dans le contenu de l'attribut « data-prototype », on remplace :
				// - le texte "__name__label__" qu'il contient par le label du champ
				// - le texte "__name__" qu'il contient par le numéro du champ
				var template = $container.attr('data-prototype')
						.replace(/__name__label__/g, 'Mot n°' + (index+1))
						.replace(/__name__/g,        index)
					;
				// On crée un objet jquery qui contient ce template
				var $prototype = $(template);
				// On ajoute au prototype un lien pour pouvoir supprimer la catégorie
				addDeleteLink($prototype);
				//On ajoute la fonction pour ajouter des gloses sur le bouton Ajouter Glose A FAIRE
				/* // On ajoute une nouvelle glose à chaque clic sur le bouton NE MARCHE PAS
				 $('#ajout_phrase_form_Mot_ambi_glose___name___Gloses_du_mot').click(function(e){
				 add_Glose($containerGlose);
				 e.preventDefault(); // évite qu'un # apparaisse dans l'URL
				 return false;
				 });
				 */
				// On ajoute le prototype modifié à la fin de la balise <div>
				$container.append($prototype);
				// Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
				index++;
			}
			// La fonction qui ajoute un lien de suppression d'une catégorie
			function addDeleteLink($prototype) {
				// Création du lien
				var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer le mot</a>');
				// Ajout du lien
				$prototype.append($deleteLink);
				// Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
				$deleteLink.click(function(e) {
					$prototype.remove();
					index--;
					e.preventDefault(); // évite qu'un # apparaisse dans l'URL
					return false;
				});
			}
		});
		//function qui ajoute une glose
		function add_Glose($containerGlose){
			var template = $containerGlose.attr('data-prototype')
					.replace(/__name__label__/g, 'Glose n°' + (indexGlose+1))
					.replace(/__name__/g,        indexGlose)
				;
			var $prototype = $(template);
			//addDeleteLinkGlose($prototype);
			$containerGlose.append($prototype);
			indexGlose++;
		}
		/*					//function qui ajoute un lien de suppresion d'une glose
		 function addDeleteLinkGlose($prototype) {
		 var $deleteLinkGlose = $('<a href="#" class="btn btn-danger">Supprimer la glose</a>');
		 $prototype.append($deleteLinkGlose);
		 $deleteLinkGlose.click(function(e) {
		 $prototype.remove();
		 indexGlose--;
		 e.preventDefault(); // évite qu'un # apparaisse dans l'URL
		 return false;
		 });
		 }*/
	</script>
{% endblock %}