{% extends 'base.html.twig' %}

{% block title %}Signalements{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('vendor/DataTables/datatables.css') }}">
{% endblock %}

{% block titre %}Modération des signalements{% endblock %}

{% block contenu %}
    <div class="well">
        <table id="signalementsTable" class="display responsive no-wrap table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Catégorie</th>
                <th>Phrase/Glose/Membre</th>
                <th>Rapporteur</th>
                <th>Description</th>
                <th>Date de création</th>
                <th>Date de délibération</th>
                <th>Juge</th>
                <th>Verdict</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Catégorie</th>
                <th>Phrase/Glose/Membre</th>
                <th>Rapporteur</th>
                <th>Description</th>
                <th>Date de création</th>
                <th>Date de délibération</th>
                <th>Juge</th>
                <th>Verdict</th>
                <th>Actions</th>
            </tr>
            </tfoot>
            <tbody>
            {% for signalementScalar in signalements %}
                {% set signalement = signalementScalar[0] %}
                <tr id="signalement-{{ signalement.id }}" {% if signalement.verdict is empty %}class="text-danger"{% endif %}>
                    <td>{{ signalement.id }}</td>
                    <td>{{ signalement.typeObjet.nom }}</td>
                    <td>{{ signalement.categorieSignalement.nom }}</td>
                    <td>
                        {% if signalement.typeObjet.nom == 'Phrase' %}
                            {{ signalementScalar.contenu|getPhraseHTML|raw }}
                        {% elseif signalement.typeObjet.nom == 'Glose' %}
                            {{ signalementScalar.valeur }}
                        {% elseif signalement.typeObjet.nom == 'Membre' %}
                            {{ signalementScalar.username }}
                        {% endif %}
                    </td>
                    <td><a href="{{ path('fos_user_profile_show' , {'id': signalement.auteur.id }) }}">{{ signalement.auteur.username }}</a></td>
                    <td>{{ signalement.description }}</td>
                    <td data-order="{{ signalement.dateCreation|date("U") + signalement.dateCreation|date("Z") }}">{{ signalement.dateCreation|date("d/m/Y H:i") }}</td>
                    <td class="signalement-dateDeliberation" data-order="{{ signalement.dateDeliberation is empty ? "" : signalement.dateDeliberation|date("U") + signalement.dateDeliberation|date("Z") }}">
                        {{ signalement.dateDeliberation is empty ? "" : signalement.dateDeliberation|date("d/m/Y H:i") }}
                    </td>
                    {% if not signalement.juge %}
                        <td class="signalement-juge"><a href="#">{{ signalement.juge.username|default('') }}</a></td>
                    {% else %}
                        <td class="signalement-juge"><a href="{{ path('fos_user_profile_show' , {'id':signalement.juge.id}) }}">{{ signalement.juge.username|default('') }}</a></td>
                    {% endif %}
                    <td class="signalement-verdict">
                        {{ signalement.verdict is empty ? 'n/a <span class="badge">!</span>' : signalement.verdict.nom }}
                    </td>
                    <td class="text-center signalement-actions">
                        {% if signalement.verdict is empty %}
                            <button class="btn btn-success btn-sm signalement" data-verdict="valide">
                                Valider
                            </button>
                            <button class="btn btn-danger btn-sm signalement" data-verdict="non valide" style="margin-top: 3px;">
                                Refuser
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('vendor/DataTables/datatables.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#signalementsTable').DataTable({
                stateSave: true, // Enregistre les configurations
                stateSaveParams: function (settings, data) {
                    data.start = 0; // On enregistre pas la page
                    data.order = [[9, "asc"]]; // On ordonne sur l'id
                    data.search = {}; // On enregistre pas la recherche
                },
                stateDuration: 0, // pour une durée illimitée
                columnDefs: [
                    {targets: 10, orderable: false}
                ],
                order: [[9, 'asc']], // On ordonne sur l'id
                responsive: true,
                language: {url: '{{ asset('vendor/DataTables/datatables.french.lang') }}'}
            });

            // Ajout de l'eventlistener valide
            $('.signalement').click(function (event) {
                event.preventDefault();

                // On affiche l'image laoding en attendant la réponse
                $(this).after('<img src="' + urlImageLoading + '" id="loading">');

                var ligne = $(this).closest('tr');
                var idSignalement = ligne.attr('id').replace(/signalement-/, '');

                $.post(Routing.generate('modo_signalement_edit', {id: idSignalement}),
                    {
                        verdict: $(this).data('verdict'),
                        token: '{{ csrf_token('signalement_vote') }}'
                    }
                    , function (data) {
                        if (data.succes) {

                            ligne.removeClass('text-danger');
                            ligne.find('.signalement-actions').html('');

                            var lienProfilJuge = Routing.generate('fos_user_profile_show', {id: data.signalement.jugeID});

                            ligne.find('.signalement-dateDeliberation').html(data.signalement.dateDeliberation);
                            ligne.find('.signalement-dateDeliberation').attr('data-order', data.signalement.dateDeliberationTS);
                            ligne.find('.signalement-juge').html('<a href="' + lienProfilJuge + '">' + data.signalement.juge + '</a>');
                            ligne.find('.signalement-verdict').html(data.signalement.verdict);

                            // On trouve la ligne, on l'a met à jour
                            $('#signalementsTable').DataTable().row('#signalement-' + idSignalement).invalidate().draw();
                        }
                        else {
                            $(event.target).closest('.panel').append('<span class="text-danger">Erreur (' + data.message + ')</span>')
                        }
                    })
                    .fail(function () {
                        $(this).after('<span class="text-danger">Erreur</span>');
                    })
                    .always(function () {
                        ligne.find('#loading').remove();
                    });
            });
        });
    </script>
{% endblock %}
