{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title %}Statistiques{% endblock %}
{% block content_title %}Statistiques{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block main %}

    <div class="panel panel-green">
        <div class="panel-heading">
            <b>Visites</b>
        </div>
        <div class="panel-body">
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Totales</span>
                    <div class="count">{{ stat.visites.total|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Derniers 30j</span>
                    <div class="count">{{ stat.visites.j30|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Derniers 7j</span>
                    <div class="count">{{ stat.visites.j7|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernières 24h</span>
                    <div class="count">{{ stat.visites.h24|number_format(0, '.', ' ') }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-green">
        <div class="panel-heading">
            <b>Membres</b>
        </div>
        <div class="panel-body">
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Totaux</span>
                    <div class="count">{{ stat.membres.total|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Derniers 30j</span>
                    <div class="count">{{ stat.membres.inscriptionJ30|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Derniers 7j</span>
                    <div class="count">{{ stat.membres.inscriptionJ7 }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernières 24h</span>
                    <div class="count">{{ stat.membres.inscriptionH24 }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-ban"></i> Bannis</span>
                    <div class="count">{{ stat.membres.bannis|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-ban"></i> Inactifs</span>
                    <div class="count">{{ stat.membres.inactifs|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-envelope"></i> Abonnés newsletter</span>
                    <div class="count">{{ stat.membres.newsletter|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i> Via service</span>
                    <div class="count">{{ stat.membres.service|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-male"></i> Homme</span>
                    <div class="count">{{ stat.membres.homme|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-female"></i> Femme</span>
                    <div class="count">{{ stat.membres.femme|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-money"></i> Points moyens</span>
                    <div class="count">{{ stat.membres.moyPoints|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-money"></i> Crédits moyens</span>
                    <div class="count">{{ stat.membres.moyCredits|number_format(0, '.', ' ') }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-green">
        <div class="panel-heading">
            <b>Phrases</b>
        </div>
        <div class="panel-body">
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Totales</span>
                    <div class="count">{{ stat.phrases.total|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 30j</span>
                    <div class="count">{{ stat.phrases.creationJ30|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 7j</span>
                    <div class="count">{{ stat.phrases.creationJ7|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernières 24h</span>
                    <div class="count">{{ stat.phrases.creationH24|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-flag"></i> Signalées</span>
                    <div class="count">{{ stat.phrases.signale|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-money"></i> Gains moyens</span>
                    <div class="count">{{ stat.phrases.moyGain|number_format(0) }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-green">
        <div class="panel-heading">
            <b>Mots ambigus</b>
        </div>
        <div class="panel-body">
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Totaux</span>
                    <div class="count">{{ stat.motsAmbigus.total|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 30j</span>
                    <div class="count">{{ stat.motsAmbigus.creationJ30|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 7j</span>
                    <div class="count">{{ stat.motsAmbigus.creationJ7|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernières 24h</span>
                    <div class="count">{{ stat.motsAmbigus.creationH24|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-flag"></i> Signalés</span>
                    <div class="count">{{ stat.motsAmbigus.signale|number_format(0, '.', ' ') }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-green">
        <div class="panel-heading">
            <b>Gloses</b>
        </div>
        <div class="panel-body">
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Totales</span>
                    <div class="count">{{ stat.gloses.total|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 30j</span>
                    <div class="count">{{ stat.gloses.creationJ30|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 7j</span>
                    <div class="count">{{ stat.gloses.creationJ7|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernières 24h</span>
                    <div class="count">{{ stat.gloses.creationH24|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-flag"></i> Signalées</span>
                    <div class="count">{{ stat.gloses.signale|number_format(0, '.', ' ') }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-green">
        <div class="panel-heading">
            <b>Parties</b>
        </div>
        <div class="panel-body">
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Totales</span>
                    <div class="count">{{ stat.parties.total|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 30j</span>
                    <div class="count">{{ stat.parties.joueJ30|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 7j</span>
                    <div class="count">{{ stat.parties.joueJ7|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernières 24h</span>
                    <div class="count">{{ stat.parties.joueH24|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-money"></i> Gains moyens</span>
                    <div class="count">{{ stat.parties.moyGain|number_format(0) }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-green">
        <div class="panel-heading">
            <b>Réponses</b>
        </div>
        <div class="panel-body">
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Totales</span>
                    <div class="count">{{ stat.reponses.total|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 30j</span>
                    <div class="count">{{ stat.reponses.reponduJ30|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 7j</span>
                    <div class="count">{{ stat.reponses.reponduJ7|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernières 24h</span>
                    <div class="count">{{ stat.reponses.reponduH24|number_format(0, '.', ' ') }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-green">
        <div class="panel-heading">
            <b>Jugements</b>
        </div>
        <div class="panel-body">
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Totaux</span>
                    <div class="count">{{ stat.jugements.total|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 30j</span>
                    <div class="count">{{ stat.jugements.creationJ30|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernièrs 7j</span>
                    <div class="count">{{ stat.jugements.creationJ7|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Dernières 24h</span>
                    <div class="count">{{ stat.jugements.creationH24|number_format(0, '.', ' ') }}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-hourglass-half"></i> En attente</span>
                    <div class="count">{{ stat.jugements.enAttente|number_format(0, '.', ' ') }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
