{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block titre %}Contact{% endblock %}

{% block contenu %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="bulle">
				<div id="googleMap" style="width:100%;height:400px;"></div>
				<br>
				<h4 class="text-center">Adresse</h4>
				<address class="text-center">
					Université Montpellier 2<br>
					Place Eugène Bataillon<br>
					34095 Montpellier cedex 5<br>
					France
				</address>
				<h4 class="text-center">Téléphone</h4>
				<p class="text-center">
					Tél: 04 67 14 30 30<br>
					Fax: 04 67 14 30 31
				</p>
				<h4 class="text-center">Email</h4>
				<p class="text-center">
					Email: <a href="mailto:contact@ambiguss.dev">contact@ambiguss.dev</a>
				</p>
				<hr>
				<h3 id="formulaireContact" class="text-center">Formulaire de contact</h3>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 well text-left">
						{% for flashMessage in app.session.flashbag.get('succes') %}
							<div class="alert alert-success">{{ flashMessage }}</div>
						{% endfor %}
						{% for flashMessage in app.session.flashbag.get('erreur') %}
							<div class="alert alert-danger">{{ flashMessage }}</div>
						{% endfor %}

						{{ form_start(form, {'attr': {'id': 'formContact'}}) }}

						{{ form_errors(form) }}

						{% if not app.user %}
							{{ form_row(form.pseudo) }}

							{{ form_row(form.email) }}
						{% else %}
							{% do form.pseudo.setRendered %}
							{% do form.email.setRendered %}
						{% endif %}

						{{ form_row(form.message) }}
						<div id='recaptcha' class="g-recaptcha" data-sitekey="6LcXBhkUAAAAAIMfOvKJODxXAhw-qG2VzGG2rppj" data-callback="onSubmit" data-size="invisible"></div>
						{{ form_widget(form.envoyer) }}

						{{ form_rest(form) }}
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUWe7-YqqNblh58wp_ciY0u_B8evxqa9g"></script>
	<script>
		function initialize() {
			var mapProp = {
				center:new google.maps.LatLng(43.631417, 3.861584),
				zoom:15,
				mapTypeId:google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(43.631417, 3.861584),
				map: map
			});
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script>
		// Ne pas supprimé, callback recaptcha
		function onSubmit(token) {
			$('#formContact').submit();
		}

		function validate(event) {
			event.preventDefault();
			var erreurs = [];

			{% if not app.user %}
			var pseudo = $('#appbundle_contact_pseudo');
			if (pseudo.val() === '') {
				erreurs.push('pseudo');
				pseudo.next().remove();
				pseudo.after('<span class="color-red">Vous devez indiquer un pseudo</span>');
			}
			else if (!pseudo.val().match(/^[a-zA-Z0-9-_ ]{3,32}$/)) {
				erreurs.push('pseudoreg');
				pseudo.next().remove();
				pseudo.after('<span class="color-red">Le pseudo doit être alphanumérique (-, _, , autorisé) et faire entre 3 et 32 ' +
					'caractères</span>');
			}
			else {
				pseudo.next().remove();
			}

			var email = $('#appbundle_contact_email');
			if (email.val() === '') {
				erreurs.push('email');
				email.next().remove();
				email.after('<span class="color-red">Vous devez indiquer un email</span>');
			}
			else {
				email.next().remove();
			}
			{% endif %}

			var message = $('#appbundle_contact_message');
			if (message.val() === '') {
				erreurs.push('message');
				message.next().remove();
				message.after('<span class="color-red">Vous devez indiquer un message</span>');
			}
			else {
				message.next().remove();
			}

			if (erreurs.length === 0) {
				grecaptcha.execute();
			}
		}

		function onload() {
			var element = document.getElementById('appbundle_contact_envoyer');
			element.onclick = validate;
		}

		onload();
	</script>
{% endblock %}