{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}


{% block contenu %}

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-4 well">
            {% for flashMessage in app.session.flashbag.get('succes') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
            {% endfor %}

            {{ form_start(form) }}

            {{ form_errors(form) }}


            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

