{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}
{% block titre %}Modifier profil{% endblock %}


{% block contenu %}
	<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 bulle">
		<div class="container-fluid">
			<div class="row">
				<ul class="nav nav-tabs">
					<li role="presentation"><a href="{{ path('user_profil') }}">Profil</a></li>
					<li role="presentation" class="active"><a href="{{ path('user_modif_profil') }}">Modification</a></li>
				</ul>
			</div>
			<br>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 well">
					{% for flashMessage in app.session.flashbag.get('succes') %}
						<div class="alert alert-success">{{ flashMessage }}</div>
					{% endfor %}
					{% for flashMessage in app.session.flashbag.get('erreur') %}
						<div class="alert alert-danger">{{ flashMessage }}</div>
					{% endfor %}

					{{ form_start(form) }}

					{{ form_errors(form) }}

					{{ form_row(form.Mdp) }}
					{{ form_row(form.ValiderMdp) }}
					<hr>
					{{ form_row(form.Email) }}
					{{ form_row(form.ValiderEmail) }}
					<hr>
					{{ form_row(form.Newsletter) }}
					{{ form_row(form.ValiderNewsletter) }}

					{{ form_rest(form) }}
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}