{% extends 'base.html.twig' %}

{% block title %}Profil ({{ app.user.pseudo|capitalize }}){% endblock %}

{% block titre %}Profil <small>{{ app.user.pseudo|capitalize }}</small>{% endblock %}

{% block contenu %}
	<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 bulle">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 text-left">
					<p><b>Niveau :</b> {{ app.user.niveau.titre }}</p>
					<p><b>Points :</b> {{ app.user.pointsClassement }}</p>
					<p><b>Crédits :</b> {{ app.user.credits }}</p>
					<br>
					Vous avez créé :
					<ul>
						<li>{{ app.user.phrases|length }} phrases</li>
						<li>{{ app.user.gloses|length }} gloses</li>
						<li>x mots ambigus</li>
					</ul>
				</div>
				<div class="col-md-6 text-right">
					<p><b>Date d'inscription :</b> {{ app.user.dateInscription|date('d/m/Y à H:m') }}</p>
					<p><b>Dernière connexion :</b> {{ app.user.dateConnexion|date('d/m/Y à H:m') }}</p>
					<p><b>Groupe :</b> {{ app.user.groupe.nom }}</p>
					<p><b>Date de naissance :</b> {{ app.user.dateNaissance|date('d/m/Y') }}</p>
					<p><b>Newsletter :</b> {% if app.user.newsletter %}abonné{% else %}non abonné{% endif %}</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<h4>Historique</h4>
			</div>
		</div>
	</div>
{% endblock %}