{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }} {% endblock %}

{% block titre %}Profil <small>{{ user.pseudo }} </small>{% endblock %}

{% block contenu %}
	<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 bulle">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 text-left">
					<p><b>Niveau :</b> {{ user.niveau.titre }}</p>
					<p><b>Points :</b> {{ user.pointsClassement }}</p>
					<p><b>Crédits :</b> {{ user.credits }}</p>
					<br>
					{% if user.pseudo == app.user.pseudo %}
						Vous avez créé :
                    {% else %}
                    	{{ user.pseudo }} a créé :
					{% endif %}

						<ul>
						{% if user.pseudo == app.user.pseudo %}
							<li>{{ user.phrases|length }} phrases
								<a href="{{ path('ambiguss_classement_personnel') }}">(Voir)</a>
							</li>
						{% else %}
							<li>{{ user.phrases|length }} phrases
								</li>
                        {% endif %}

						<li>{{ user.gloses|length }} gloses</li>
						<li>{{ user.motsAmbigus|length }} mots ambigus</li>

					</ul>
				</div>
				<div class="col-md-6 text-right">
					<p><b>Date d'inscription :</b> {{ user.dateInscription|date('d/m/Y à H:m') }}</p>
					<p><b>Dernière connexion :</b> {{ user.dateConnexion|date('d/m/Y à H:m') }}</p>
					<p><b>Groupe :</b> {{ user.groupe.nom }}</p>
					<p><b>Date de naissance :</b> {{ user.dateNaissance|date('d/m/Y') }}</p>
					<p><b>Newsletter :</b> {% if user.newsletter %}abonné{% else %}non abonné{% endif %}</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<h4>Historique</h4>
			</div>
		</div>
	</div>
{% endblock %}