{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset('assets/vendor/DataTables/datatables.css') }}">
{% endblock %}

{% block titre %}Classement général{% endblock %}

{% block contenu %}
	<div class="well">
		<h4 class="classementMe">Vous êtes à la position <span>{{ position }}</span>/{{ nbMembreTotal }} dans le classement.</h4>
		<table id="classement" class="display responsive no-wrap table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>#</th>
					<th>Pseudo</th>
					<th>Titre</th>
					<th>Inscription</th>
					<th>Points</th>
					<th>Nombre de phrases</th>
					<th>Nombre de j'aime</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>#</th>
					<th>Pseudo</th>
					<th>Titre</th>
					<th>Inscription</th>
					<th>Points</th>
					<th>Nombre de phrases</th>
					<th>Nombre de j'aime</th>
				</tr>
			</tfoot>
			<tbody>
				{% for row in classement %}
					<tr {% if row.id == app.user.id %}class="classementTableMe"{% endif %}>
						<td>{{ loop.index }}</td>
						<td><a href="{{ path('fos_user_profile_show' , {'id':row.id}) }}">{{ row.username }}</a></td>
						<td>
							{% if loop.index == 1 %}
								Ambigator
							{% elseif loop.index >= 2 and loop.index < 5 %}
								Grand Maître
							{% elseif loop.index >= 5 and loop.index < 10 %}
								Maître
							{% elseif loop.index >= 10 and loop.index < 20 %}
								Cavalier
							{% elseif loop.index >= 20 and row.pointsClassement >= 3000 %}
								Challenger
							{% else %}
								Novice
							{% endif %}
						</td>
						<td data-order="{{ row.dateInscription|date("U") }}">{{ row.dateInscription|date("d/m/Y") }}</td>
						<td>{{ row.pointsClassement }}</td>
						<td>{{ row.nbPhrases }}</td>
						<td>{{ row.nbJAime }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block js %}
	<script src="{{ asset('assets/vendor/DataTables/datatables.js') }}"></script>
	<script>
		$(document).ready(function() {
			$('#classement').DataTable({
				stateSave: true, // Enregistre les configurations
				stateSaveParams: function (settings, data) {
					data.start = 0; // On enregistre pas la page
					data.order = [[4, "desc"]]; // On ordonne sur le nombre de points
					data.search = {}; // On enregistre pas la recherche
				},
				stateDuration: 0, // pour une durée illimitée
				order: [[4, 'desc']], // On ordonne sur le nombre de points
				responsive: true,
				language: {url: '{{ asset('assets/vendor/DataTables/datatables.french.lang') }}'}
			});
		});
	</script>
{% endblock %}
