{{ form_start(form) }}

{{ form_errors(form) }}
<div class="text-danger">Vous ne pouvez signaler qu'une glose ou une phrase pour l'instant.</div>

{{ form_row(form.typeObjet) }}
<div class="form-group" id="signalementIdObjet">
	{{ form_label(form.idObjet) }}
	{{ form_widget(form.idObjet) }}
</div>

{{ form_row(form.categorieJugement) }}

{{ form_row(form.description) }}

{{ form_rest(form) }}
{{ form_end(form) }}