{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset('assets/vendor/DataTables/datatables.css') }}">
{% endblock %}

{% block titre %}Classement général{% endblock %}

{% block contenu %}
	<div class="well">
		<table id="classement" class="display responsive no-wrap table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>#</th>
					<th>Pseudo</th>
					<th>Inscription</th>
					<th>Points</th>
					<th>Nombre de phrases</th>
					<th>Nombre de likes</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>#</th>
					<th>Pseudo</th>
					<th>Inscription</th>
					<th>Points</th>
					<th>Nombre de phrases</th>
					<th>Nombre de likes</th>
				</tr>
			</tfoot>
			<tbody>
				{% for row in classement %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ row.pseudo }}</td>
						<td>{{ row.dateInscription|date("d/m/Y") }}</td>
						<td>{{ row.pointsClassement }}</td>
						<td>{{ row.nbPhrases }}</td>
						<td>{{ row.nbLikes }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block js %}
	<script src="{{ asset('assets/vendor/DataTables/datatables.js') }}"></script>
	<script>
		$(document).ready(function() {
			$('#classement').DataTable({
				order: [[3, 'desc']],
				responsive: true,
				language: {url: '{{ asset('assets/vendor/DataTables/datatables.french.lang') }}'}
			});
		});
	</script>
{% endblock %}