<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Ambiguss | {% block title %}{% endblock %}</title>

	    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
	    <link rel="stylesheet" href="{{ asset('vendor/jquery-ui/jquery-ui.css') }}">
	    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
	    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
		<link rel="stylesheet" href="{{ asset('vendor/animate.css/animate.css') }}">
        {% block css %}{% endblock %}

	    {% block meta %}{% endblock %}
	    <meta name="description" content="Ambiguss est un projet de TER de master informatique. Il permet de produire des corpus de phrases annotées sémantiquement, permettant ainsi d'identifier le sens correct d'un mot.">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}">
    </head>
    <body>
	    <header>
		    <nav class="navbar navbar-default navbar-static-top" id="nav-main">
			    <div class="container-fluid">
				    <div class="row row-eq-height">
					    <div class="col-xs-12 col-sm-12 col-md-2">
						    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							    <span class="sr-only">Toggle navigation</span>
							    <span class="icon-bar"></span>
							    <span class="icon-bar"></span>
							    <span class="icon-bar"></span>
						    </button>
						    <a class="navbar-brand" href="{{ path('accueil_show') }}">
							    <img id="logo" alt="Ambiguss logo" src="{{ asset('images/logo.png') }}">
							    <span class="color-green">Amb</span>iguss
						    </a>
					    </div>
					    <div class="col-xs-12 col-sm-12 col-sm-9 col-md-6">
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							    <ul class="nav navbar-nav">
								    <li>
									    <a href="{{ path('game_show') }}">Jouer<span class="sr-only">(current)</span></a>
								    </li>
									{% if app.user %}
										<li>
											<a href="{{ path('phrase_new') }}">Créer<span class="sr-only">(current)</span></a>
										</li>
									{% endif %}
								    <li class="dropdown">
									    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Classements
										    <span class="caret"></span></a>
									    <ul class="dropdown-menu">
										    <li><a href="{{ path('classement_joueurs_show') }}">Joueurs</a></li>
											{% if app.user %}
												<li><a href="{{ path('classement_phrases_show') }}">Phrases</a></li>
												<li><a href="{{ path('classement_personnel_show') }}">Mes Phrases</a></li>
											{% endif %}
									    </ul>
								    </li>
								    {% if is_granted('ROLE_MODERATEUR') %}
									    <li class="dropdown">
										    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											    Modération <span class="badge">{{ nbMembresSignales() + nbPhrasesSignalees() + nbGlosesSignalees() }}</span>
											    <span class="caret"></span>
										    </a>
										    <ul class="dropdown-menu">
												<li>
													<a href="{{ path('modo_membres_show') }}">
														Membres <span class="badge">{{ nbMembresSignales() }}</span>
													</a>
												</li>
											    <li>
												    <a href="{{ path('modo_phrases_show') }}">
													    Phrases <span class="badge">{{ nbPhrasesSignalees() }}</span>
												    </a>
											    </li>
											    <li>
												    <a href="{{ path('modo_gloses_show') }}">
													    Gloses <span class="badge">{{ nbGlosesSignalees() }}</span>
												    </a>
											    </li>
											    <li><a href="{{ path('modo_mots_ambigus_gloses_show') }}">Liaisons MA-G</a></li>
										    </ul>
									    </li>
								    {% endif %}
							    </ul>
						    </div>
					    </div>
					    <div class="col-xs-12 col-sm-12 col-md-4 text-right">
						    <ul class="coDecoMenu">
							    {% if app.user %}
								    <li><a class="linkCoMenu" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}
										</a></li> •
								    <li><a class="linkCoMenu" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
								    <div>
									    Points : <span id="points">{{ app.user.pointsClassement|capitalize }}</span> |
									    Crédits : <span id="credits">{{ app.user.Credits|capitalize }}</span>
								    </div>
							    {% else %}
								    <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
								    <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
							    {% endif %}
						    </ul>
					    </div>
				    </div>
			    </div>
		    </nav>
	    </header>

	    <article>
		    <div class="container-fluid">
			    <div class="col-md-12">
				    <h1>{% block titre %}{% endblock %}</h1>
				    {% block contenu %}{% endblock %}
			    </div>
		    </div>
	    </article>

	    <footer>
		    <div class="container-fluid">
			    <div class="row" id="footer-link">
				    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 text-center">
					    <a href="{{ path('mentions_show') }}">Mentions légales</a>&emsp;
					    <a href="{{ path('conditions_show') }}">Conditions d'utilisation</a>&emsp;
					    <a href="{{ path('apropos_show') }}">À propos d'Ambiguss</a>&emsp; <a href="{{ path('ambiguss_export') }}">Export</a>&emsp;
					    <a href="{{ path('contact_show') }}">Contact</a>
					    {% if is_granted('ROLE_ADMINISTRATEUR') %}
						    <br>
						    # <a href="{{ path('admin') }}">Administration</a> #
					    {% endif %}
				    </div>
				    <div class="col-xs-6 col-sm-6 col-xs-offset-3 col-sm-offset-3 text-center" id="copyright">
					    • <a href="{{ path('accueil_show') }}">Ambiguss</a> © {{ "now" | date("Y") }} •
				    </div>
			    </div>
		    </div>
	    </footer>

	    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
		    <div class="modal-dialog" id="modal-dialog" role="document">
			    <div class="modal-content">
				    <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					    <h4 class="modal-title" id="modal-title"></h4>
				    </div>
				    <div class="modal-body" id="modal-body">
				    </div>
				    <div class="modal-footer">
					    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				    </div>
			    </div>
		    </div>
	    </div>

		{% if not app.request.cookies.get('cookieInfo') %}
			<div id="cookieInfo">
				<div class="container-fluid">
					<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
						En poursuivant votre navigation sur Ambiguss, vous acceptez l'utilisation des cookies.
						<a href="{{ path('mentions_show') }}">En savoir plus</a>
						<a id="cookieAccept" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> J'accepte</a>
					</div>
				</div>
			</div>
		{% endif %}

	    <script>
		    var urlImageLoading = '{{ asset('images/loading.gif') }}';
		    var ttl_cookie_info = {{ ttl_cookie_info }};
	    </script>
	    <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
	    <script src="{{ asset('vendor/jquery/dist/jquery.form.min.js') }}"></script>
	    <script src="{{ asset('vendor/jquery/dist/jquery.cookie.js') }}"></script>
	    <script src="{{ asset('vendor/jquery-ui/jquery-ui.js') }}"></script>
	    <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('vendor/Lettering.js/jquery.lettering.js') }}"></script>
		<script src="{{ asset('vendor/textillate/jquery.textillate.js') }}"></script>
	    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	    <script src="{{ asset('js/main.js') }}"></script>
        {% block js %}{% endblock %}
    </body>
</html>
