<!DOCTYPE html>
<html>
<head>
    <title>Ambiguss | {% block title %}{% endblock %}</title>
    <link href="{{ asset('assets/theme2/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('assets/theme2/js/jquery.min.js') }}"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="{{ asset('assets/theme2/css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Isna"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--//fonts-->
</head>
<body>
<!--header-->
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-head">
                <ul class="header-in">
                    {% if app.user %}
                        <li class="active"><a href="{{ path('user_deconnexion') }}">Se déconnecter</a></li>
                    {% else %}
                        <li class="active"><a href="{{ path('user_inscription') }}">S'inscrire</a></li>
                        <li><a href="{{ path('user_connexion') }}">Se connecter</a></li>
                    {% endif %}
                </ul>

                <div class="search">
                  <!--  <form>

                        <input type="text" value="Rechercher quelque chose?" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Rechercher quelque chose?';}">
                        <input type="submit" value="">
                    </form>-->
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->

    <div class="header-top">
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <h1>
                        <a href="{{ path('app_accueil') }}"><img alt="Ambiguss logo" src="{{ asset('favicon.png') }}"><span> A</span>mbi<span>g</span>uss</a>
                    </h1>
                </div>
                <div class="top-nav">
                    <span class="menu"><img src="{{ asset('assets/theme2/images/menu.png') }}" alt=""> </span>
                    <ul>
                        <li>
                            <a {% if app.request.attributes.get('_route') == 'app_accueil' %}class="color4"
                               {% else %}class="color3"{% endif %} href="{{ path('app_accueil') }}">Jouer<span
                                        class="sr-only">(current)</span></a>
                        </li>
                        {% if app.user %}
                            <li>
                                <a {% if app.request.attributes.get('_route') == 'ambiguss_phrase' %}class="color4"
                                   {% else %}class="color3"{% endif %} href="{{ path('ambiguss_phrase') }}">Phrase<span
                                            class="sr-only">(current)
									    </span></a>
                            </li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Export <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        <div class="clearfix"></div>
                    </ul>

                    <!--script-->
                    <script>
                        $("span.menu").click(function () {
                            $(".top-nav ul").slideToggle(500, function () {
                            });
                        });
                    </script>

                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--content-->
<div class="container">
    <div class="single">
        <div class="single-middle">
            {% block titre %}{% endblock %}
            {% block contenu %}{% endblock %}
        </div>
        <!---->

    </div>
</div>
<!---->
<div class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="footer-middle-in">
                <h6>Informations</h6>
                <ul>
                    <li><a href="{{ path('app_mentions') }}">Mentions légales</a></li>
                    <li><a href="{{ path('app_conditions') }}">Conditions d'utilisation</a></li>
                </ul>
            </div>
            <div class="footer-middle-in">
                <h6>SERVICE CLIENTS</h6>
                <ul>
                    <li><a href="{{ path('app_apropos') }}">À propos</a></li>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <p class="footer-class"> • <a href="{{ path('app_accueil') }}">Ambiguss</a> © {{ "now" | date("Y") }} •</p>
</div>
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>
