{% extends 'base.html.twig' %}

{% block title %}MA-G{% endblock %}
{% block titre %}Modération des liaisons MA-G{% endblock %}

{% block contenu %}
	<div class="well">
		{{ form_start(form) }}

		{{ form_errors(form) }}
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.motAmbigu) }}
					{{ form_widget(form.motAmbigu) }}
					<input type="hidden" id="ma_id" value="">
				</div>
				{{ form_widget(form.rechercherMA) }}
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.glose) }}
					{{ form_widget(form.glose) }}
					<input type="hidden" id="g_id" value="">
				</div>
				{{ form_widget(form.rechercherG) }}
			</div>
		</div>
		{{ form_rest(form) }}
		{{ form_end(form) }}
		<br>
		<div id="res"></div>
	</div>
{% endblock %}

{% block js %}
	<script>
		$(document).ready(function () {

			// Autocomplete la glose
			var inputG = $('#ambigussbundle_MAG_glose');
			inputG.autocomplete({
				minLength: 2, // Dès qu'il y a 2 caractères on autocomplete
				source: function (request, response) {
					var url = Routing.generate('ambiguss_glose_get_autocomplete');
					$.getJSON(url + '?term=' + request.term, function (data) {
						inputG.parent().append('<div id="resnul" class="text-danger" hidden>Aucune glose ne correspond à la recherche</div>');
						if (data.length === 0) {
							inputG.parent().find('#resnul').show();
						} else {
							inputG.parent().find('#resnul').hide();
						}
						// On récupère une liste d'objet, on veut l'attribut valeur de l'objet
						response($.map(data, function (item) {
							return item.valeur;
						}));
					});
				}
			});

			// Autocomplete le mot ambigu
			var inputMA = $('#ambigussbundle_MAG_motAmbigu');
			inputMA.autocomplete({
				minLength: 2, // Dès qu'il y a 2 caractères on autocomplete
				source: function (request, response) {
					var url = Routing.generate('ambiguss_motambigu_get_autocomplete');
					$.getJSON(url + '?term=' + request.term, function (data) {
						inputMA.parent().append('<div id="resnul" class="text-danger" hidden>Aucun mot ambigu ne correspond à la recherche</div>');
						if (data.length === 0) {
							inputMA.parent().find('#resnul').show();
						} else {
							inputMA.parent().find('#resnul').hide();
						}
						// On récupère une liste d'objet, on veut l'attribut valeur de l'objet
						response($.map(data, function (item) {
							return item.valeur;
						}));
					});
				}
			});

			// Envoi le formulaire via ajax
			$('form[name="ambigussbundle_MAG"]').ajaxForm({
				beforeSubmit: function (arr, form, opt) {
					// On affiche l'image laoding en attendant la réponse
					$('#res').append('<img src="' + urlImageLoading + '" id="loading">');
				},
				// Quand la réponse Ajax sera reçu, on appelle ce callback
				success: function (data, status, xhr, form) {
					// On supprime l'image loading
					if (data.succes) {
						var inputs = '';
						var other = null;

						if (data.owner.type === 'ma') {
							other = 'du mot ambigu "' + $('#ambigussbundle_MAG_motAmbigu').val() + '"';
							$('#ma_id').val(data.owner.id);

							for (obj in data.data) {
								inputs += '<div id="o' + data.data[obj].id + '' + data.owner.id + '"><label>' + data.data[obj].valeur + '</label> <button class="deleteLink btn ' +
									'btn-danger ' +
									'btn-sm" data-g="' + data.data[obj].id + '" data-ma="' + data.owner.id + '"' + '>Supprimer la ' +
									'liaison</button></div><br>';
							}
						}
						else {
							other = 'de la glose "' + $('#ambigussbundle_MAG_glose').val() + '"';
							$('#g_id').val(data.owner.id);

							for (obj in data.data) {
								inputs += '<div id="o' + data.owner.id + '' + data.data[obj].id + '"><label>' + data.data[obj].valeur + '</label> <button class="deleteLink btn btn-danger ' +
									'btn-sm" data-g="' + data.owner.id + '" data-ma="' + data.data[obj].id + '"' + '>Supprimer la ' +
									'liaison</button></div><br>';
							}
						}


						$('#res').empty().append('<hr><h4 class=text-center>Liaisons ' + other + '</h4>' + inputs);

						$('.deleteLink').click(function (event) {
							event.preventDefault();

							g_id = $(this).data('g');
							ma_id = $(this).data('ma');

							// On affiche l'image laoding en attendant la réponse
							$(this).after('<img src="' + urlImageLoading + '" id="loading">');

							var url = Routing.generate('ambiguss_mag_delete');
							$.post(url, {motAmbigu: ma_id, glose: g_id, token: '{{ csrf_token('delete_mag') }}'}, function (data) {
								liaison = $('#o' + g_id + '' + ma_id);
								if (data.succes) {
									liaison.find('.deleteLink').remove();
									liaison.append('<span class="text-success">Liaison supprimée</span>');
								}
								else {
									liaison.append('<span class="text-danger">' + data.message + '</span>');
								}
							}, "json")
								.fail(function () {
									$(this).after('<span class="text-danger">Erreur</span>');
								})
								.always(function () {
									$('#loading').remove();
								});
						});
					} else {
						$('#res').empty().append('<span class="text-danger">Erreur</span>');
					}
				},
				error: function () {
					$('#res').empty().append('<span class="text-danger">Erreur</span>');
				}
			});

		});
	</script>
{% endblock %}