{% extends "base.html.twig" %}

{% block title %}Changement de mot de passe{% endblock %}

{% block titre %}Changement de mot de passe{% endblock %}

{% block contenu %}
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 bulle">
        <div class="container-fluid">
            {{ include('@App/Include/menu_profil.html.twig') }}
            <br>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 well">
                    {{ form_start(form , {'form-type' : 'horizontal'}) }}

                    {{ form_errors(form) }}

                    {{ form_row(form.current_password) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.Valider) }}

                    {{ form_rest(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
