{% extends 'base.html.twig' %}

{% block title %}resultat{% endblock %}
{% block titre %}Résultat de la partie{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 bulle">
	        {% for flashMessage in app.session.flashbag.get('succes') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
	        {% endfor %}
	        {% for flashMessage in app.session.flashbag.get('erreur') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
	        {% endfor %}

	        {% if app.user is null %}
		        <p class="text-success">
			        <b>
				        <a href="{{ path('fos_user_security_login') }}" class="size18">Connectez-vous</a>
				        pour enregistrer vos parties et avoir accès à toutes les fonctionnalités !
			        </b>
		        </p>
	        {% endif %}
	        <span class="size24">
		        {% if app.user %}
			        {% if isAuteur %}
				        Vous êtes l'auteur de cette phrase, vous ne gagnez donc pas de points.<br>
			        {% elseif alreadyPlayed %}
				        Vous avez déjà joué cette phrase, vous ne gagnez donc pas de points.<br>
			        {% else %}
						{% if nb_point <= 0 %}
							Dommage, vous n'avez pas gagné de point cette fois.
						{% elseif nb_point == 1 %}
							Bravo, vous avez gagné 1 point.
						{% else %}
							Félicitation, vous avez gagné <span id="fun-level" style="color: #C51B10;">0</span> points !
						{% endif %}
				        <div>
							<img src="{{ asset('avogif.gif') }} " alt="gif" style="max-width: 100%;">
						</div>
			        {% endif %}
		        {% else %}
			        Vous n'êtes pas connecté, vous ne gagnez donc pas de points.<br>
		        {% endif %}
	        </span>
	        <br>
	        <span class="color-green size18">La phrase était :</span><br>
	        <span class="size24">{{ phrase|raw }}</span><br>
	        <span class="size16">par <a href="{{ path('fos_user_profile_show', {id: auteur.id}) }}">{{ auteur.username }}</a></span><br>
	        <div class="form-group">
		        {% if app.user %}
			        <button id="phraseSignal" class="btn btn-danger btn-xs" data-toggle="modall" data-target="#modal">
				        <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
				        Signaler un élément
			        </button>
		        {% endif %}
	        </div>
	        <br>
	        <ul><span class="color-green size18">Les votes précédents étaient :</span>
		        {% for ordre, ma in stats %}
			        <li class="not-list"><b class="color-red size16" title="Ce mot est ambigu (id : {{ ordre }})">{{ ma.valeurMA }}</b>
				        :
				        {% for valeurGlose, res in ma.gloses %}
					        {% if res.isSelected %}<b>{% endif %}
					        {{ valeurGlose ~ ' ' ~ res.nbVotes }}
					        {% if res.isSelected %}</b>{% endif %}
					        {% if loop.last %}.{% else %},{% endif %}
				        {% endfor %}
			        </li>
		        {% endfor %}
	        </ul>
	        <br>

            <a href="{{ path('game_show') }}" class="btn btn-primary">Rejouer</a>
	        <div id="glosesBlock" hidden>
		        {% for ma in pma %}
			        <select class="gloses">
				        {% for g in ma.motAmbigu.gloses %}
					        <option value="{{ g.id }}">{{ g.valeur }}</option>
				        {% endfor %}
			        </select>
			        <input type="hidden" value="{{ ma.motAmbigu.valeur }}">
		        {% endfor %}
	        </div>
        </div>
    </div>
	<button type="button" class="pull-right infobulle" data-toggle="modal" data-target="#modal" id="helpResultatModal">
		<img src="{{ asset('images/infobulle.png') }}">
	</button>
{% endblock %}

{% block js %}
	<script>
		$(document).ready(function()
		{
			// Au click sur le bouton, exécute la fonction
			$('#helpResultatModal').click(helpResultatModal);
			function helpResultatModal(event) {
				// Place le cookie pendant 30 jours
				$.cookie('helpResultatV1', 'true', {expires: 30});
				setModalSize('modal-lg');
				setModalTitle('Informations sur le résultat');
				setModalBody('{{ include('@App/InfosModal/afterPlay.html.twig')|e('js') }}');
			}

			// Affiche automatiquement la modal si le visiteur n'a pas le cookie comme quoi il a déjà vu les infos
			{% if not app.request.cookies.has('helpResultatV1') %}
			$('#helpResultatModal').trigger('click');
			{% endif %}

			// Signalement
			$("#phraseSignal").click(function () {
				var boutonSignal = $(this);
				setModalSize('modal-lg');
				setModalTitle("Signaler un élément de la phrase \"{{ phraseHTMLEscape|raw }}\"");
				setModalBody('{{ include('AppBundle:Signalement:add.html.twig', {'form': addJugementForm})|e('js') }}');
				$("#modal").modal("show");

				// MAJ type objet signalement
				$("#jugement_add_typeObjet").on('change', function () {
					var idTypeObjet = $(this).val();
					var typeObjet = $(this).find('[value="' + idTypeObjet + '"]').html();
					if (typeObjet === 'Glose') {
						$('#signalementIdObjet').show();
						$('#jugement_add_signaler').prop('disabled', false);
						$('#jugement_add_idObjet').empty().append('<option selected disabled>Choisissez une glose</option>').prop('disabled', false);
						$('.gloses').each(function () {
							var ma = $(this).next().val();
							var opts = $(this).clone();
							//opts.find('option').eq(0).remove();
							$('#jugement_add_idObjet').append('<optgroup label="' + ma + '">' + opts.html() + '</optgroup>')
						})
					}
					else if (typeObjet === 'Phrase') {
						$('#signalementIdObjet').hide();
						$('#jugement_add_signaler').prop('disabled', false);
						$('#jugement_add_idObjet').empty().append('<option selected value="{{ phrase_id }}">{{ phrase_id }}</option>');
					}
					else {
						$('#signalementIdObjet').show();
						$('#jugement_add_signaler').prop('disabled', true);
					}
				});
				$("#jugement_add_typeObjet").trigger('change');


				// On envoit le formulaire par ajax
				$('form[name="api_jugement_new"]').ajaxForm({
					beforeSubmit: function (arr, form, opt) {
						// On affiche l'image laoding en attendant la réponse
						$(form).after('<img src="' + urlImageLoading + '" id="loading">');
					},
					// Quand la réponse Ajax sera reçu, on appelle ce callback
					success: function (data, status, xhr, form) {
						// On supprime l'image loading
						$(form).next().remove();
						if (data.succes) {
							$(form).after(
								'<div class="alert alert-success alert-dismissible fade in" role="alert">'
								+ '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'
								+ 'Élément signalé</div>'
							);
						}
						else {
							$(form).after('<div class="alert alert-danger">Erreur</div>');
						}
					},
					error: function () {
						loading = $("#loading");
						next = loading.prev().nextAll();
						loading.before('<span class="text-danger">Erreur</span>');
						next.remove();
					}
				});
			});
		});

	</script>

	<script src="{{ asset('js/jquery.animateNumber.js') }}"></script>

    <script>
        $('#fun-level').animateNumber(
            {
                number: {{ nb_point }},
                'font-size': '30px',
                easing: 'easeInQuad'
            },
	        1500
        );
	</script>
{% endblock %}
