{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block css %}
{% endblock %}

{% block titre %}Formulaire d'inscription{% endblock %}

{% block contenu %}

    <div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-4 well">

        {{ form_start(form) }}

	    {{ form_errors(form) }}

	    {{ form_row(form.Pseudo) }}

	    {{ form_row(form.Mdp) }}

	    {{ form_row(form.Email) }}

	    {{ form_row(form.Newsletter) }}

	    {{ form_row(form.Conditions) }}

	    <div class="form-group">
		    <label class="control-label required">Captcha</label>
		    <div class="g-recaptcha" data-sitekey="6LdIRhgTAAAAAETW0QglcOGfBb3cYMTlcYOkWozt"></div>
	    </div>

	    {{ form_widget(form.Valider) }}

	    {{ form_rest(form) }}
	    {{ form_end(form) }}
    </div>

{% endblock %}

{% block js %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}