{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block css %}
{% endblock %}

{% block titre %}Formulaire d'inscription{% endblock %}

{% block contenu %}

	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-4">
			<button class="btn btn-facebook btn-block" id="login-facebook">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				S'inscrire avec Facebook
			</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-4">
			<button class="btn btn-twitter btn-block" id="login-twitter">
				<i class="fa fa-twitter" aria-hidden="true"></i>
				S'inscrire avec Twitter
			</button>
		</div>
	</div>
	<br>
	<div class="row">
	    <div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-4 well">
		    {% for flashMessage in app.session.flashbag.get('succes') %}
			    <div class="alert alert-success">{{ flashMessage }}</div>
		    {% endfor %}
		    {% for flashMessage in app.session.flashbag.get('erreur') %}
			    <div class="alert alert-danger">{{ flashMessage }}</div>
		    {% endfor %}

	        {{ form_start(form, {'attr': {'id': 'formInscription'}}) }}

		    {{ form_errors(form) }}

		    {{ form_row(form.Pseudo) }}

		    {{ form_row(form.Mdp) }}

		    {{ form_row(form.Email) }}

		    {{ form_row(form.Newsletter) }}

		    {{ form_row(form.Conditions) }}

		    {{ form_widget(form.Valider) }}

		    {{ form_rest(form) }}
		    {{ form_end(form) }}
	    </div>
	</div>

{% endblock %}

{% block js %}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script>
		// Fonction appelé par le script Recaptcha après un clic sur le bouton de validation
		function onSubmit(token) {
			document.getElementById("formInscription").submit();
		}
	</script>
{% endblock %}