{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block css %}
{% endblock %}

{% block titre %}Formulaire d'inscription{% endblock %}

{% block contenu %}

	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-4">
			<button class="btn btn-facebook btn-block" id="login-facebook" disabled title="Cette fonctionnalité n'est pas encore implémenté">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				S'inscrire avec Facebook
			</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-4">
			<button class="btn btn-twitter btn-block" id="login-twitter" disabled title="Cette fonctionnalité n'est pas encore implémenté">
				<i class="fa fa-twitter" aria-hidden="true"></i>
				S'inscrire avec Twitter
			</button>
		</div>
	</div>
	<br>
	<div class="row">
	    <div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-4 well">
		    {% for flashMessage in app.session.flashbag.get('succes') %}
			    <div class="alert alert-success">{{ flashMessage }}</div>
		    {% endfor %}
		    {% for flashMessage in app.session.flashbag.get('erreur') %}
			    <div class="alert alert-danger">{{ flashMessage }}</div>
		    {% endfor %}

	        {{ form_start(form, {'attr': {'id': 'formInscription'}}) }}

		    {{ form_errors(form) }}

		    {{ form_row(form.Pseudo) }}

		    {{ form_row(form.Mdp) }}

		    {{ form_row(form.Email) }}

		    {{ form_row(form.Newsletter) }}

		    {{ form_row(form.Conditions) }}


		    <div id='recaptcha' class="g-recaptcha"
				    data-sitekey="6LcXBhkUAAAAAIMfOvKJODxXAhw-qG2VzGG2rppj"
				    data-callback="onSubmit"
				    data-size="invisible"></div>

		    {{ form_widget(form.Valider) }}

		    {{ form_rest(form) }}
		    {{ form_end(form) }}
	    </div>
	</div>

{% endblock %}

{% block js %}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script>
		// Ne pas supprimé, callback recaptcha
		function onSubmit(token) {
			$('#formInscription').submit();
		}

		function validate(event) {
			event.preventDefault();
			var erreurs = [];

			var pseudo = $('#userbundle_membre_Pseudo');
			if (pseudo.val() === '') {
				erreurs.push('pseudo');
				pseudo.next().remove();
				pseudo.after('<span class="color-red">Vous devez indiquer un pseudo</span>');
			}
			else if(!pseudo.val().match(/^[a-zA-Z0-9-_]{3,32}$/)){
				erreurs.push('pseudoreg');
				pseudo.next().remove();
				pseudo.after('<span class="color-red">Le pseudo doit être alphanumérique (- et _ autorisé) et faire entre 6 et 72 caractères</span>');
			}
			else{
				pseudo.next().remove();
			}

			var mdpf = $('#userbundle_membre_Mdp_first');
			if (mdpf.val() === '') {
				erreurs.push('mdpf');
				mdpf.next().remove();
				mdpf.after('<span class="color-red">Vous devez indiquer un mot de passe</span>');
			}
			else{
				mdpf.next().remove();
			}

			var mdps = $('#userbundle_membre_Mdp_second');
			if (mdps.val() === '') {
				erreurs.push('mdps');
				mdps.next().remove();
				mdps.after('<span class="color-red">Vous devez indiquer une confirmation de mot de passe</span>');
			}
			else if(mdpf.val() !== mdps.val()){
				erreurs.push('mdpeq');
				mdps.next().remove();
				mdps.after('<span class="color-red">Les mots de passe doivent être identiques</span>');
			}
			else if(!mdpf.val().match(/^.{6,72}$/)){
				erreurs.push('mdpreg');
				mdps.next().remove();
				mdps.after('<span class="color-red">Le mot de passe doit faire entre 6 et 72 caractères</span>');
			}
			else{
				mdps.next().remove();
			}

			var email = $('#userbundle_membre_Email');
			if (email.val() === '') {
				erreurs.push('email');
				email.next().remove();
				email.after('<span class="color-red">Vous devez indiquer un email</span>');
			}
			else{
				email.next().remove();
			}

			var conditions = $('#userbundle_membre_Conditions');
			if (!conditions.is(':checked')) {
				erreurs.push('conditions');
				conditions.next().remove();
				conditions.after('<span class="color-red" style="float:right;margin-left:3px;">Vous devez accepter ' +
					'les CGU' +
					'</span>');
			}
			else{
				conditions.next().remove();
			}

			if(erreurs.length === 0) {
				grecaptcha.execute();
			}
		}

		function onload() {
			var element = document.getElementById('userbundle_membre_Valider');
			element.onclick = validate;
		}

		onload();
	</script>
{% endblock %}