{% extends 'base.html.twig' %}

{% block title %}Oubli de mot passe{% endblock %}

{% block titre %}Formulaire de réinitialisation de mot de passe{% endblock %}

{% block contenu %}
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-4 well">
			{% for flashMessage in app.session.flashbag.get('succes') %}
				<div class="alert alert-success">{{ flashMessage }}</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('erreur') %}
				<div class="alert alert-danger">{{ flashMessage }}</div>
			{% endfor %}

			{{ form_start(form, {'attr': {'id': 'formOubliMdp'}}) }}

			{{ form_errors(form) }}

			{{ form_row(form.PseudoOuEmail) }}

			{{ form_widget(form.Valider) }}

			{{ form_rest(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block js %}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script>
		// Fonction appelé par le script Recaptcha après un clic sur le bouton de validation
		function onSubmit(token) {
			document.getElementById("formOubliMdp").submit();
		}
	</script>
{% endblock %}