{% extends 'base.html.twig' %}

{% block title %}Mots Ambigus{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/DataTables/datatables.css') }}">
{% endblock %}

{% block titre %}Modération des mots ambigus{% endblock %}

{% block contenu %}
    <div class="well">
        <table id="mambigusTable" class="display responsive no-wrap table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>#</th>
                <th>Valeur</th>
                <th>Auteur</th>
                <th>Phrase</th>
                <th>Date de création</th>
                <th>Modificateur</th>
                <th>Date de modification</th>
                <th>Signalée</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>#</th>
                <th>Valeur</th>
                <th>Auteur</th>
                <th>Phrase</th>
                <th>Date de création</th>
                <th>Modificateur</th>
                <th>Date de modification</th>
                <th>Signalée</th>
                <th>Actions</th>
            </tr>
            </tfoot>
            <tbody>
            {% for row in mambigus %}
                <tr id="mambigu-{{ row.id }}">
                    <td>{{ row.id }}</td>
                    <td class="mambigu-valeur">{{ row.valeur }}</td>
                    <td><a href="{{ path('user_profil' , {'id':row.auteur.id}) }}">{{ row.auteur.pseudo }}</a></td>
                    <td> a venir</td>
                    <td data-order="{{ row.dateCreation|date("U") }}">{{ row.dateCreation|date("d/m/Y à H:i") }}</td>

                    {% if row.Modificateur %}
                        <td class="mambigu-modificateur"><a href="{{ path('user_profil' , {'id':row.modificateur.id}) }}">{{ row.modificateur.pseudo|default('') }}</a></td>
                        <td class="mambigu-dateModification" data-order="{{ row.dateModification|date("U") }}">{{ row.dateModification|date("d/m/Y à
						H:i") }}</td>
                    {% else %}
                        <td class="mambigu-modificateur"><a href="#">{{ row.modificateur.pseudo|default('') }}</a></td>
                        <td class="mambigu-dateModification" data-order=""></td></td>

                    {% endif %}

                    <td class="mambigu-signale">{% if row.signale %}Oui{% else %}Non{% endif %}</td>
                    <td>
                        <button class="btn btn-primary btn-sm keepPhraseButton" data-toggle="modal" data-target="#modal" data-id="{{ row.id }}" data-valeur="{{ row.valeur }}">
                            Conserver
                        </button>
                        <button class="btn btn-warning btn-sm editGloseButton" data-toggle="modal" data-target="#modal" data-id="{{ row.id }}" data-valeur="{{ row.valeur }}">
                            Modifier
                        </button>
                        <button class="btn btn-danger btn-sm deleteGloseButton" data-toggle="modal" data-target="#modal" data-id="{{ row.id }}" data-valeur="{{ row.valeur }}">
                            Supprimer
                        </button>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}