{% extends "base.html.twig" %}

{% block title %}{{ user.username }}{% endblock %}

{% block titre %}Profil <small>{{ user.username }} </small>{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 bulle">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p><b>Parties : </b> {{ user.parties.count }} / {{ nbPhrases }}</p>
                        <p><b>Points :</b> {{ user.pointsClassement }} (mois : {{ user.pointsClassementMensuel }} / semaine : {{ user.pointsClassementHebdomadaire }})</p>
                        <br>
                            {{ user.username }} a créé :
                        <ul>
                            <li>{{ user.phrases|length }} phrases</li>
                            <li>{{ user.gloses|length }} gloses</li>
                            <li>{{ user.motsAmbigus|length }} mots ambigus</li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">
                        <p><b>Date d'inscription :</b> {{ user.dateInscription|date('d/m/Y à H:i') }}</p>
                        <p><b>Dernière connexion :</b> {{ user.lastLogin is empty ? "~" : user.lastLogin|date('d/m/Y à H:i') }}</p>
                        <p>
                            <b>Groupe{% if user.groups.count > 1 %}s{% endif %} :</b>
                            {% for group in user.groups %}
                                {{ group.name }}
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="badges">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <div class="well">
                <div class="text-center"><h3>Badges</h3></div>
                <div class="container-fluid">
                    {% set i = 0 %}
                    {% for badge in bestBadges %}
                        {% if i % 4 == 0 %}
                            <div class="row">
                        {% endif %}
                        <div class="col-sm-3 text-center"
                             data-toggle="tooltip"
                             data-placement="top"
                             title="{{ badge.dateObtention is empty ? "" : badge.dateObtention|date("d/m/Y H:i") }}"
                        >
                            <i class="fa fa-star size24 color-gold"></i><br>
                            {{ badge[0].description }}
                        </div>
                        {% if i % 4 == 3 or loop.last %}
                            </div><br>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
