{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset('vendor/DataTables/datatables.css') }}">
{% endblock %}

{% block titre %}Classement {{ typeClassement }}{% endblock %}

{% set page = path(app.request.attributes.get('_route'), app.request.query.all) %}
{% set general = path('classement_joueurs_show') %}
{% set mensuel = path('classement_joueurs_show', {type: 'mensuel'}) %}
{% set hebdomadaire = path('classement_joueurs_show', {type: 'hebdomadaire'}) %}

{% block contenu %}
	<div class="well">
		<ul class="nav nav-tabs">
			<li role="presentation" class="{% if page == general %}active{% endif %}"><a href="{{ path('classement_joueurs_show') }}">Général</a></li>
			<li role="presentation" class="{% if page == mensuel %}active{% endif %}"><a href="{{ path('classement_joueurs_show', {type: 'mensuel'}) }}">Mensuel</a></li>
			<li role="presentation" class="{% if page == hebdomadaire %}active{% endif %}"><a href="{{ path('classement_joueurs_show', {type: 'hebdomadaire'}) }}">Hebdomadaire</a></li>
		</ul>
		{% if app.user and classement is not empty %}
			<h4 class="classementMe">
				{% if position <= nbMembreTotal %}
					Vous êtes à la position <span>{{ position }}</span>/{{ nbMembreTotal }} dans le classement {{ typeClassement }}<sup>*</sup>.
				{% else %}
					Vous n'apparaissez pas car vous vous n'avez aucun point pour le classement {{ typeClassement }}<sup>*</sup>.
				{% endif %}
			</h4>
		{% else %}
			<br>
		{% endif %}
		<table id="classement-{{ typeClassement }}" class="display responsive no-wrap table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>#</th>
					<th>Pseudo</th>
					{% if page == general %}
						<th>Titre</th>
					{% endif %}
					<th>Inscription</th>
					<th>Points gagnés</th>
					<th>Phrases créées</th>
					{% if page == general %}
						<th>Nombre de « j'aime » reçu</th>
					{% endif %}
					<th>Parties jouées</th>
					<th>Badges gagnés</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>#</th>
					<th>Pseudo</th>
					{% if page == general %}
						<th>Titre</th>
					{% endif %}
					<th>Inscription</th>
					<th>Points gagnés</th>
					<th>Phrases créées</th>
					{% if page == general %}
						<th>Nombre de « j'aime » reçu</th>
					{% endif %}
					<th>Parties jouées</th>
					<th>Badges gagnés</th>
				</tr>
			</tfoot>
			<tbody>
				{% for row in classement %}
					<tr {% if app.user and row.id == app.user.id %}class="classementTableMe"{% endif %}>
						<td>{{ loop.index }}</td>
						<td><a href="{{ path('fos_user_profile_show' , {'id':row.id}) }}">{{ row.username }}</a></td>
						{% if page == general %}
							<td>
								{% if loop.index == 1 %}
									Ambigator
								{% elseif loop.index >= 2 and loop.index < 5 %}
									Bâtonnier
								{% elseif loop.index >= 5 and loop.index < 10 %}
									Grand Maître
								{% elseif loop.index >= 10 and loop.index < 20 %}
									Maître
								{% elseif loop.index >= 20 and row.pointsClassement >= 3000 %}
									Challenger
								{% else %}
									Novice
								{% endif %}
							</td>
						{% endif %}
						<td data-order="{{ row.dateInscription|date("U") + row.dateInscription|date("Z") }}">{{ row.dateInscription|date("d/m/Y") }}</td>
						<td data-order="{{ row.pointsClassement }}">{{ row.pointsClassement|number_format(0, ',', ' ') }}</td>
						<td>{{ row.nbPhrases }}</td>
						{% if page == general %}
							<td>{{ row.nbJAime }}</td>
						{% endif %}
						<td>{{ row.nbParties }}</td>
						<td>{{ row.nbBadges }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="text-info">
			<sup>*</sup>Classement limité aux {{ maxResultForClassementGeneral }} premiers joueurs.
		</div>
	</div>
{% endblock %}

{% block js %}
	<script src="{{ asset('vendor/DataTables/datatables.js') }}"></script>
	<script>
		$(document).ready(function() {
			var options = function(numColPoints) {
				return {
					stateSave: true, // Enregistre les configurations
					stateSaveParams: function (settings, data) {
						data.start = 0; // On enregistre pas la page
						data.order = [[numColPoints, "desc"]]; // On ordonne sur le nombre de points
						data.search = {}; // On enregistre pas la recherche
					},
					stateDuration: 0, // pour une durée illimitée
					order: [[numColPoints, 'desc']], // On ordonne sur le nombre de points
					responsive: true,
					language: {url: '{{ asset('vendor/DataTables/datatables.french.lang') }}'}
				};
			};

			var numColPoints = "{{ typeClassement }}" == "général" ? 4 : 3;

			$('#classement-{{ typeClassement }}').DataTable(options(numColPoints));
		});
	</script>
{% endblock %}
